<div class="fixed w-full bottom-0 h-12  text-black flex items-center justify-around bg-gray-100 rounded-tr-2xl rounded-tl-2xl">  
    
    <button class="text-gray-500" routerLink="/home" routerLinkActive="text-purple-800"><ion-icon  name="home"></ion-icon></button>
    <button class="text-gray-500" routerLink="/transactions" routerLinkActive="text-purple-800"><ion-icon  name="card"></ion-icon></button>
    
    <ion-icon name="add-circle" class="relative -top-1/2 plus bg-white p-1 rounded-full"></ion-icon>

    <button class="text-gray-500" routerLink="/budget" routerLinkActive="text-purple-800"> <ion-icon  name="pie-chart"></ion-icon></button>
    <button class="text-gray-500" routerLink="/profile" routerLinkActive="text-purple-800"> <ion-icon  name="person"></ion-icon></button>
</div>
